:root{
  --principal: #000000;
  
}

*{
  margin: 0;
  padding: 0;
}

body {
    font-size: 15pt;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.55)
}
.header h1{
  color: #FFFFFF;
}

.navegacion-principal a{
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px;
}

@media (min-width: 630px); {
  .header{
    display: block;
    align-items: center;
    text-align: center;
  }
}